*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.class

# ignore binary folders
build/
.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore emacs files
*~

# ignore eclipse files
workbench.xmi
.project
.classpath
/bin/
